Repository yaronday/nano_dev_utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff (local)
  entry: bash ~/my-hooks/run_ruff.sh
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

ruff-format:
  name: ruff-format (local)
  entry: bash ~/my-hooks/run_ruff-format.sh
  language: system

pyright:
  name: pyright (local)
  entry: bash ~/my-hooks/run_pyright.sh
  language: system

path update (for pytest case, since unlike unittest, it needs the full import path from the project root)
  pyproject.toml
  tests/test_release_ports.py
Due: ruff, ruff-format

test_release_ports converted to pytest
  .pre-commit-config.yaml
  tests/__init__.py
  tests/test_release_ports.py
Due: ruff, ruff-format

test_dynamic_importer and test_timer converted to pytest
  tests/__init__.py
  tests/test_dynamic_importer.py
  tests/test_timer.py
Due: ruff, ruff-format

+pytest and pytest-mock dependencies for testing
  pyproject.toml
  tests/test_timer.py
Due: ruff, ruff-format

test_dynamic_importer: using pytest-mocker
  tests/test_dynamic_importer.py
Due: ruff, ruff-format

test_release_ports.py: converting all to pytest
  tests/test_release_ports.py
Due: ruff, ruff-format

pyproject minor updates: license under project license-files - removed (should be handled by hatchling)
  pyproject.toml
Due: none

+dunder version
  pyproject.toml
  src/nano_dev_utils/__init__.py
Due: ruff, ruff-format, pyright

minor update
  pyproject.toml
  src/nano_dev_utils/__init__.py
Due: ruff, ruff-format, pyright

pointing to pre-commit-hook latest revision
  .pre-commit-config.yaml
Due: none

.
  .pre-commit-config.yaml
Due: none

license relative path
  README.md
  pyproject.toml
Due: none

license file renamed
  LICENSE
  README.md
  pyproject.toml
Due: none

adding license path
  pyproject.toml
Due: none

adding license url
  pyproject.toml
Due: none

+pre-commit config
  .pre-commit-config.yaml
  ruff.toml
Due: none

removed [tool.hatch.build]
  pyproject.toml
Due: none

packaging bugfix: removed [tool.hatch.build], since it skipped the package files
  pyproject.toml
Due: none

+iterations +version update
  README.md
  pyproject.toml
  src/nano_dev_utils/timers.py
  tests/test_timer.py
Due: ruff, ruff-format, pyright

+pre-commit, ruff +type-hinting update for Timer
  .pre-commit-config.yaml
  ruff.toml
  src/nano_dev_utils/timers.py
Due: ruff, ruff-format, pyright

+timeout support
  src/nano_dev_utils/timers.py
Due: ruff, ruff-format, pyright

+updates related to timeout functionality - WIP
  tests/test_timer.py
Due: ruff, ruff-format

using self.precision instead of hardcoded value ongoing unit tests update
  src/nano_dev_utils/timers.py
  tests/test_timer.py
Due: ruff, ruff-format, pyright

timer unittests complete
  src/nano_dev_utils/timers.py
  tests/test_timer.py
Due: ruff, ruff-format, pyright

timers - only work with perf_counter_ns test_timer - improved overall
  src/nano_dev_utils/timers.py
  tests/test_timer.py
Due: ruff, ruff-format, pyright

timers, test_timer - improved overall
  README.md
  pyproject.toml
  src/nano_dev_utils/timers.py
  tests/test_timer.py
Due: ruff, ruff-format, pyright

+file_tree_display; General refactor - imports, renaming etc.
  src/nano_dev_utils/__init__.py
  src/nano_dev_utils/file_tree_display.py
  src/nano_dev_utils/ftd_consts.py
  tests/__init__.py
  tests/test_dynamic_importer.py
  tests/test_file_tree_display.py
  tests/test_release_ports.py
  tests/test_timer.py
Due: ruff, ruff-format, pyright

README update (WIP)
  README.md
Due: none

version update
  pyproject.toml
Due: none

test_file_tree_display: additional coverage (save2file) and code improvements
  tests/test_file_tree_display.py
Due: ruff, ruff-format

test_release_ports.py: bugfix - corrected mocking of 'get_pid_by_port'
  tests/test_release_ports.py
Due: ruff, ruff-format

pre-commit updates + bumped version
  pyproject.toml
  tests/test_release_ports.py
Due: ruff, ruff-format

ongoing README updates
  README.md
Due: none

minor updates: relative import correction; test_release_ports - slightly corrected. v1.0.1
  pyproject.toml
  tests/__init__.py
  tests/test_dynamic_importer.py
  tests/test_release_ports.py
  tests/test_timer.py
Due: ruff, ruff-format

+update(obj: object, attrs: dict) -> None, a flexible utility method that is needed by almost every class.
  src/nano_dev_utils/__init__.py
  src/nano_dev_utils/common.py
  src/nano_dev_utils/release_ports.py
Due: ruff, ruff-format, pyright

test_release_ports - ongoing code improvement
  tests/test_release_ports.py
Due: ruff, ruff-format

+pre-commit-config and ruff (local for fast op) ongoing unit test improvements: type-hinting
  .pre-commit-config.yaml
  ruff.toml
  src/nano_dev_utils/__init__.py
  src/nano_dev_utils/common.py
  tests/test_release_ports.py
Due: ruff, ruff-format, pyright

common: +encode_dict, a utility that encodes a dictionary into a single byte object
  src/nano_dev_utils/common.py
Due: ruff, ruff-format, pyright

updating import of encode_dict
  tests/test_release_ports.py
Due: ruff, ruff-format

+test_common unit tests
  src/nano_dev_utils/common.py
  tests/test_common.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/
